# ===== Google ADK / Gemini =====
AGENT_MODEL=gemini-2.5-flash
GEMINI_API_KEY=AIzaSyBbaZeIPRXw__C63t8cO9B8Y6y1tAejlgg
GOOGLE_GENAI_USE_VERTEXAI=false
APP_LOG_LEVEL=INFO

# ===== Zoho =====
# Para cambiar de sandbox a production, reemplaza estos valores manualmente.
ZOHO_MCP_URL=https://adk-sandbox-921176920.zohomcp.com/mcp/cb3e985336ab246eaa09162baf59cca3/message
ZOHO_ORG_ID=858848784
ZOHO_DEFAULT_DEPARTMENT_ID=
ZOHO_DESK_API_BASE=https://desk.zoho.com/api/v1
ZOHO_TOKEN_WEBHOOK_URL=https://n8nfab.cunapp.pro/webhook/GetTokenSandbox
ZOHO_TOKEN_WEBHOOK_USER=FabricaSoftware
ZOHO_TOKEN_WEBHOOK_PASS=F4Br1KS0FT#%

# ===== Base de datos Oracle CUN =====
DB_HOST_ORACLE=172.16.1.91
DB_PORT_ORACLE=1521
DB_USERNAME_ORACLE=FSOFTW
DB_PASSWORD_ORACLE=F4br1Ca2024.*
DB_SERVICE_NAME_ORACLE=sig
DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=5
DB_QUERY_TIMEOUT_SECONDS=30
