# ===== Google ADK / Gemini =====
AGENT_MODEL=gemini-2.5-flash
GEMINI_API_KEY=AIzaSyBbaZeIPRXw__C63t8cO9B8Y6y1tAejlgg
GOOGLE_GENAI_USE_VERTEXAI=false
APP_LOG_LEVEL=INFO

# ===== Zoho =====
# Para cambiar de sandbox a production, reemplaza estos valores manualmente.
ZOHO_MCP_URL=https://adk-sandbox-921176920.zohomcp.com/mcp/cb3e985336ab246eaa09162baf59cca3/message
ZOHO_ORG_ID=858848784
ZOHO_DEFAULT_DEPARTMENT_ID=
ZOHO_DESK_API_BASE=https://desk.zoho.com/api/v1
ZOHO_TOKEN_WEBHOOK_URL=https://n8nfab.cunapp.pro/webhook/GetTokenSandbox
ZOHO_TOKEN_WEBHOOK_USER=FabricaSoftware
ZOHO_TOKEN_WEBHOOK_PASS=F4Br1KS0FT#%

# ===== Servicios internos CUN =====
CUN_ADDITIONAL_FEES_URL=https://appzoho-stg.cunapp.pro/api/v1/adk/catalogos/additional-fees
CUN_COMPANY_PAYMENTS_URL=https://appzoho-stg.cunapp.pro/api/v1/adk/validaciones-financieras/company-payments
CUN_COMPANY_PAYMENTS_NIT_PARAM=nitEmpresa
CUN_SERVICES_AUTH_URL=https://appzoho-stg.cunapp.pro/api/v1/auth/login
CUN_SERVICES_USERNAME=api_zoho_nest
CUN_SERVICES_PASSWORD=USANBF4#%$f&$#//gb&7
CUN_SERVICES_API_TOKEN=
CUN_SERVICES_TIMEOUT_SECONDS=15
CUN_SERVICES_VERIFY_SSL=false
